.toggle-cont {
    width: auto;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }

  .head-toggle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .head-toggle-left h2 {
    margin: 0;
    font-size: 40px;
    line-height: 40px;
    width: 100%;
  }

  .head-toggle-right {
    display: flex;
    align-items: center;
  }

  .toggle-button-group {
    display: flex;
    background-color: black;
    justify-content: space-between;
    padding: 5px;
    border-radius: 10px;
    gap: 10px;
  }

  .toggle-button {
    flex: 1;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    outline: none;
    transition: background-color 0.3s ease-in-out;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 15px 20px;
  }

  .toggle-button.active {
    background-color: purple;
  }

  .toggle-content {
    width: 100%;
  }

  .toggle-content-item {
    display: none;
    width: 100%;
  }

  .toggle-content-item.active {
    display: block;
  }
  /* Mobile Styles */
@media (max-width: 767px) {
  .head-toggle {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      font-size: 16px;
      padding: 10px 15px;
  }
  .head-toggle-left{
      width: 100%;
      justify-content: center;
      display: flex;
  }
  .head-toggle-left h2{
      text-align:center;
  }
}